.icon1{
    width: 50%;
   border: 1px solid  #3f14a3;
   border-radius: 10px;
   margin: 20px;
   padding: 10px;
  }
  
  .icon2{
    width: 50%;
   border: 1px solid  #dad7e0;
   border-radius: 10px;
   margin: 20px;
   padding: 10px;
  }